.news_style {
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/710/196/large_2x/blank-glued-aluminum-foil-texture-for-background-and-wallpaper-crumpled-abstract-texture-surface-from-wrapping-paper-wrinkled-shiny-silver-foil-for-banner-poster-overlay-and-design-element-photo.jpg);
    background-color: $color_letra;
    font-family: 'Quarz 974 Light 400';
    color: white;
}