.img_portada { /*Primer imagen de la biografia*/
    
    display: block;
    margin: 0 auto;
    max-width: 50%;
    border: solid 5px silver;
    
    }
  
     .img_portada2 { /*Segunda imagen de la biografia*/
         
         display: block;
    margin: 0 auto;
    max-width: 50%;
         border: solid 2px silver;
         
     }
     .img_portada3 { /*Tercera imagen de la biografia*/
        float:right;
         margin: 20px;
        width: 550px;
         height: 450px;
         left: 1300px;
         border: solid 2px silver;
     }
     .img_portada4 { /*Cuarta imagen de la biografia*/
         float: left;
         width:350px;
         height: 300px;
         margin: 30px;
         left: 500px;
         border: solid 2px silver;
     }
     