
@font-face {
    font-family:'Quarz 974 Light 400' ;
    src: url(./fonts/Quarz\ 974\ Light\ 400.otf) format(opentype);
}


@import"./SCSS/body-style";
@import"./SCSS/navegador";
@import "./SCSS/logo-style";
@import "./SCSS/news-style";
@import"./SCSS/biography-style";
@import "./SCSS/portada-style";
@import"./SCSS/disco-style";
@import"./SCSS/mws";
@import"./SCSS/citd";
@import"./SCSS/footer-style";
#in_line {
    display: inline;
}


@media screen and (max-width:1200px){
    

    .mws_songslist {
        font-family: Teko;
        color: #fffafa;
        text-decoration: underline;
        font-size: 20px;
    }


}

@media screen and (max-width: 992px){
        .subtittle_bio { 
            font-family: 'Quarz 974 Light 400';
            font-size: 40px;
            position: relative;
            text-align: center;
            color: silver;
             border: 2px solid black;
            }
            nav ul  {
                font-size: 25px;
                font-family: 'Quarz 974 Light 400';
                list-style: none;
                float: right;
                display: flex;
                gap: 10px;
            }
    
            .mws_songslist {
                font-family: Teko;
                color: #fffafa;
                text-decoration: underline;
                font-size: 17px;
            }
    
        }
 
    
 @media screen and (max-width: 768px){
    .subtittle_bio { 
        font-family: 'Quarz 974 Light 400';
        font-size: 30px;
        position: relative;
        text-align: center;
        color: silver;
         border: 1.5px solid black;
        }
        nav ul  {
            font-size: 20px;
            font-family: 'Quarz 974 Light 400';
            list-style: none;
            float: right;
            display: flex;
            gap: 10px;
        }
    
        .mws_songslist {
            font-family: Teko;
            color: #fffafa;
            text-decoration: underline;
            font-size: 14px;
        }
    }
    @media screen and (max-width:556px){

        nav ul  {
            font-size: 15px;
            font-family: 'Quarz 974 Light 400';
            list-style: none;
            float: right;
            display: flex;
            gap: 10px;
        }
        .mws_songslist { 
            font-family: Teko;
            color: #fffafa;
            text-decoration: underline;
            font-size: 12px;
        }


    }
    
  